@using ProjeCorePersonel.Models
@model List<Personel>
@{
    ViewData["Title"] = "BirimDetay";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<br />
<h2>@ViewBag.bad Departmanı</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
       
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.PersonelId</td>
            <td>@x.PersonelAd</td>
            <td>@x.PersonelSoyad</td>
            <td>@x.Sehir</td>
           
        </tr>
    }
</table>