@using ProjeCorePersonel.Models
@model List<Personel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Birim</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.PersonelId</td>
            <td>@x.PersonelAd</td>
            <td>@x.PersonelSoyad</td>
            <td>@x.Sehir</td>
            <td>@x.Birim.BirimAd</td>
            <td><a href="/Default/BirimSil/@x.PersonelId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Default/BirimGetir/@x.PersonelId" class="btn btn-success">Güncelle</a></td>
            <td><a href="#" class="btn btn-default" style="background-color:chocolate">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Personelim/YeniPersonel" class="btn btn-info">Yeni Personel</a>
